.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.card{
    display: -webkit-flex;  
    display: flex;
    float:left;
    width: 15rem;
    margin:5px;
}

.counter-actions{
    margin:5px;
}
.counter-actions button{
    margin-left:10px;
    width:100px;
}
.counter-actions p{
    margin-left: 30px;
}

.detailImage{
    width:300px;
    height:300px;
}